/harness/node_modules/
/backend/venv/
/backend/.env
/backend/extension_backend/api/controllers/code_analysis/analysis_log.txt
/backend/extension_backend/api/controllers/flag_generator/flag_log.txt
/backend/extension_backend/api/controllers/generate_harness/write_log.txt
/backend/extension_backend/api/controllers/harness_refiner/harness_runner_log.txt
.vscode